.dark-theme {
    --text: white;
    --background: black;
    --controls-background: rgba(0, 0, 0, 0.75);
}

.light-theme {
    --text: black;
    --background: white;
    --controls-background: rgba(255, 255, 255, .75);
}

body {
    margin: 0;
    background-color: var(--background);
}

#board {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#controls {
    background-color: var(--controls-background);
    display: table;
}

p, h4, label {
    color: var(--text);
}

.board-size-input {
    width: 4em;
}

.controls-section {
    margin: 1em;
}