.dark-theme {
    --prefabCell: rgba(120, 110, 255, 0.75);
    --highlightedCell: rgba(0, 255, 76, 0.75);
    --activeCell: white;
    --text: white;
    --background: black;
    --controls-background: rgba(0, 0, 0, 0.75);
}

.light-theme {
    --prefabCell: rgba(120, 110, 255, 0.75);
    --highlightedCell: rgba(0, 255, 76, 0.75);
    --activeCell: black;
    --text: black;
    --background: white;
    --controls-background: rgba(255, 255, 255, .75);
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
}

#board {
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#controls.hidden {
    display: none;
}

#controls {
    position: absolute;
    background-color: var(--controls-background);
    width: fit-content;
}

.board-size-input {
    width: 4em;
}

.controls-section {
    margin: 1em;
}