.dark-theme {
    --prefabCell: rgba(120, 110, 255, 0.75);
    --highlightedCell: rgba(0, 255, 76, 0.75);
    --activeCell: rgba(255, 255, 255, 1);
    --text: rgba(255, 255, 255, 1);
    --background: rgba(0, 0, 0, 1);
    --controls-background: rgba(0, 0, 0, 0.75);
}

.light-theme {
    --prefabCell: rgba(120, 110, 255, 0.75);
    --highlightedCell: rgba(0, 255, 76, 0.75);
    --activeCell: rgba(0, 0, 0, 1);
    --text: rgba(0, 0, 0, 1);
    --background: rgba(255, 255, 255, 1);
    --controls-background: rgba(255, 255, 255, .75);
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--text);
    position: fixed;
}

#board {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

#prefabs-btn {
    position: fixed;
    right: 0;
}

#prefabs-panel {
    right: 0;
}

.hidden {
    display: none;
}

.panel {
    padding: .5em;
    position: fixed;
    width: fit-content;
    background-color: var(--controls-background);
}

.board-size-input {
    width: 4em;
}

.controls-section {
    margin: 1em;
}

.prefab-icon {
    width: 100%;
    height: auto;
}